@model IEnumerable<eCommerce.Core.CommerceClasses.Banks.Bank>

<table class="table table-bordered table-hover table-responsive" id="myTable">
    <thead>
        <tr>
            <td class="col-md-2"></td>
            <td class="col-md-3">Bank Name</td>
            <td class="col-md-2">Account No.</td>
            <td class="col-md-2">Account Holder</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2">
                    <a href="@Url.Action("AddBank", new { BankId = item.Id})" class="btn btn-primary">Edit</a>
                </td>
                <td class="col-md-3">@Html.DisplayFor(modelItem => item.Nama)</td>
                <td class="col-md-2">@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td class="col-md-2">@Html.DisplayFor(modelItem => item.AccountHolder)</td>
            </tr>
        }
    </tbody>
</table>