
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                @*<h3>Profiles</h3>*@
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Profiles</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal" novalidate="">
                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                        <div class="profile_img">
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <img class="img-responsive avatar-view" src="http://pm1.narvii.com/5866/76b201e12343e860570c62f4067307e04ed545fe_hq.jpg" alt="Avatar" title="Change the avatar">
                                                @*<h3 class="btn btn-success"><i class="fa fa-photo m-right-xs"></i> Change Photo</h3>*@
                                            </div>
                                            <br />
                                        </div>

                                        <br>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        @*profile details*@
                                        @*nama*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Full Name
                                            </label>
                                            <label class="control-label">
                                                Customer's Name
                                            </label>
                                        </div>
                                        @*gender*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Gender
                                            </label>
                                            <label class="control-label">
                                                Gender
                                            </label>
                                        </div>
                                        @*marriage status*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Marriage Status
                                            </label>
                                            <label class="control-label">
                                                Married
                                            </label>
                                        </div>
                                        @*jobs*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Jobs
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12" id="txtJobs">
                                                <label class="control-label">
                                                    Jobs
                                                </label>
                                            </div>
                                        </div>
                                        @*D.O.B*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                D.O.B
                                            </label>
                                            @*tanggal*@
                                            <div class="col-md-6 col-sm-6 col-xs-12" id="dropdown-category">
                                                <!-- ganti dropdown pake razor -->
                                                <label class="control-label">
                                                    @DateTime.Now
                                                </label>
                                            </div>
                                        </div>
                                        @*phone*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Phone Number
                                            </label>
                                            <label class="control-label">
                                                080909090909
                                            </label>
                                        </div>
                                        @*email*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-2 col-xs-12">
                                                Email
                                            </label>
                                            <label class="control-label">
                                                blabla@@blabla.com
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>