
@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@model eCommerce.Web.Models.CustomerViewModels.TransactionHistoryViewModel*@

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-3 blog-sidebar">
                <h4>Profile</h4>
                <ul class="blog-categories">
                    <li><a href="~/Customer/Profile/">Edit Profile</a></li>
                    <li><a href="~/Customer/AddressList/">Address</a></li>
                    <li><a href="~/Customer/Transaction/"><strong>Transaction History</strong></a></li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="col-sm-9">
                <div class="blog-post blog-single-post">
                    <div class="tabbable">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs product-details-nav">
                            <li class="active"><a href="#tab1" data-toggle="tab">Current Transaction</a></li>
                            <li><a href="#tab2" data-toggle="tab">Completed Transaction</a></li>
                            <li><a href="#tab3" data-toggle="tab">Cancelled Transaction</a></li>
                        </ul>
                        <!-- Tab Content (Full Description) -->
                        <div class="tab-content product-detail-info">
                            <div class="tab-pane active" id="tab1">
                                @await Component.InvokeAsync("CurrentTransaction")
                            </div>
                            <!-- Tab Content (Specification) -->
                            <div class="tab-pane" id="tab2">
                                @await Component.InvokeAsync("CompletedTransaction")
                            </div>
                            <div class="tab-pane" id="tab3">
                                @await Component.InvokeAsync("CancelledTransaction")
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- End Blog Post -->
        </div>
    </div>
</div>


