
@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                @*<h3>Profiles</h3>*@
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Profiles</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Transaction Date</th>
                                                <th>Total Price</th>
                                                <th>Receiver Name</th>
                                                <th>Receiver Address</th>
                                                <th>Phone</th>
                                                <th>Transaction Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TRX-06212017-00001</td>
                                                <td>@DateTime.Now</td>
                                                <td>Rp. 350.000,00</td>
                                                <td>Customer's Name</td>
                                                <td>Customer's Address</td>
                                                <td>0808-0808-9909</td>
                                                <td>Finished</td>
                                                <td><a class="btn btn-info">Details</a></td>
                                            </tr>
                                            <tr>
                                                <td>TRX-06212017-00001</td>
                                                <td>@DateTime.Now</td>
                                                <td>Rp. 350.000,00</td>
                                                <td>Customer's Name</td>
                                                <td>Customer's Address</td>
                                                <td>0808-0808-9909</td>
                                                <td>Finished</td>
                                                <td><a class="btn btn-info">Details</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
