@model IEnumerable<eCommerce.Core.CommerceClasses.The_Products.Categories.Category>

@foreach (var item in Model)
{
    <div>
        <h4>
            @if (item.ParentId == null)
            {
                var test = item.Nama;
                @test
            }
        </h4>
        <ul>
            @foreach (var item1 in Model.Where(j => j.ParentId == item.Id).OrderBy(o => o.Nama))
            {
                <li><a href="~/Product/Index?CategoryId=@item1.Id">@item1.Nama</a></li>
            }
        </ul>
    </div>

}
