
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using eCommerce.Web.Models.AdminProduct

@model IndexPageAdminProductViewModel
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>General Elements</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Product</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><input type="text" class="form-control" placeholder="Search..." /></li>
                            <li>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <!--tab1-->
                                <!--product list-->
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="list-tab" role="tab" data-toggle="tab" aria-expanded="true">Product List</a>
                                </li>
                                <!--tab1 end-->
                                <!--tab2-->
                                <!--product details-->
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="details-tab" data-toggle="tab" aria-expanded="false">Product Details</a>
                                </li>
                                <!--tab2 end-->
                                <!--tab3-->
                                <!--add product-->
                                <li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" id="add-tab" data-toggle="tab" aria-expanded="false">Add Product</a>
                                </li>
                                <!--tab3 end-->
                                <!--tab4-->
                                <!--category list-->
                                <li role="presentation" class="">
                                    <a href="#tab_content4" role="tab" id="category-tab" data-toggle="tab" aria-expanded="false">Category List</a>
                                </li>
                                <!--tab4 end-->
                                <!--tab5-->
                                <li role="presentation" class="">
                                    <a href="#tab_content4" role="tab" id="brand-tab" data-toggle="tab" aria-expanded="false">Brand List</a>
                                </li>
                                <!--tab5 end-->
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <!--tab1 content-->
                                <!--product list-->
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    @{Html.RenderPartial("ManageProduct", Model.listProduct);}
                                </div>
                                <!--tab1 content end-->
                                <!--tab2 content-->
                                <!--product details/edit-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Product Details/Edit</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <br>
                                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal" novalidate="">

                                                    <!--nama barang-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Nama Barang
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="nama-barang" class="form-control col-md-6 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <!--nama barang end-->
                                                    <!--kategori-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Kategori
                                                        </label>
                                                        <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-category">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-subcategory">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--kategori end-->
                                                    <!--brand-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Brand
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--brand end-->
                                                    <!--gambar-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Gambar
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="wrapper">
                                                            <input type="file" id="fileUpload" multiple="multiple">
                                                            <br />
                                                            <div>
                                                                <img id="image-barang" style="width:100px" />
                                                                <div id="image-holder" style="display:block"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--gambar end-->
                                                    <!--harga-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Harga
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="harga-barang" class="form-control col-md-6 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <!--harga end-->
                                                    <!--status-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Status
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option value="1">Tersedia</option>
                                                                <option value="0">Tidak Tersedia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--status end-->
                                                    <!--deskripsi-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Deskripsi
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <textarea class="form-control" rows="6"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--deskripsi end-->
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <button class="btn btn-primary" type="button">Cancel</button>
                                                            <button class="btn btn-primary" type="reset">Reset</button>
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab2 content end-->
                                <!--tab3 content-->
                                <!--add product-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab2">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Add Product</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <br>
                                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal" novalidate="">

                                                    <!--nama barang-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Nama Barang
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="nama-barang" class="form-control col-md-6 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <!--nama barang end-->
                                                    <!--kategori-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Kategori
                                                        </label>
                                                        <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-category-add" onchange="getddlkategori()">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-12" id="dropdown-subcategory-add" style="display:none;">
                                                            <!-- ganti dropdown pake razor -->
                                                            <!--ddl dimunculin berdasarkan kategori yang dipilih-->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--kategori end-->
                                                    <!--brand-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Brand
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option>Option one</option>
                                                                <option>Option two</option>
                                                                <option>Option three</option>
                                                                <option>Option four</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--brand end-->
                                                    <!--gambar-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Gambar
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12" id="wrapper">
                                                            <input type="file" id="fileUpload" multiple="multiple">
                                                            <br />
                                                            <div>
                                                                <img id="image-barang" style="width:100px" />
                                                                <div id="image-holder" style="display:block"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--gambar end-->
                                                    <!--harga-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Harga
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="harga-barang" class="form-control col-md-6 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <!--harga end-->
                                                    <!--status-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Status
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <!-- ganti dropdown pake razor -->
                                                            <select class="form-control">
                                                                <option>Choose option</option>
                                                                <option value="0">Tersedia</option>
                                                                <option value="1">Tidak Tersedia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--status end-->
                                                    <!--deskripsi-->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                            Deskripsi
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <textarea class="form-control" rows="6"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--deskripsi end-->
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <button class="btn btn-primary" type="button">Cancel</button>
                                                            <button class="btn btn-primary" type="reset">Reset</button>
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab3 content end-->
                                <!--tab4 content-->
                                <!--category list-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Category List</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Category</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Elektronik</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fashion</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><input type="text" /></td>
                                                            <td><button type="submit" class="btn btn-success">Submit</button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="clearfix"></div>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Subcategory</th>
                                                            <th>Nama Category</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Handphone</td>
                                                            <td>Elektronik</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Kemeja</td>
                                                            <td>Fashion</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="col-md-2 col-sm-4 col-xs-12"><input type="text" /></td>
                                                            <td class="col-md-2 col-sm-4 col-xs-12">
                                                                <!-- ganti dropdown pake razor -->
                                                                <select class="form-control">
                                                                    <option>Choose option</option>
                                                                    <option value="0">Category #1</option>
                                                                    <option value="1">Category #2</option>
                                                                </select>
                                                            </td>
                                                            <td class="col-md-4 col-sm-4 col-xs-12"><button type="submit" class="btn btn-success">Submit</button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab4 content end-->
                                @*tab5 content*@
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Category List</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Brand</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Samsung</td>
                                                            <td>
                                                                <a onclick="" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><input type="text" /></td>
                                                            <td><button type="submit" class="btn btn-success">Submit</button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*brand list*@
                                <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>Category List</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Category</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Elektronik</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fashion</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td><input type="text" /></td>
                                                            <td><button type="submit" class="btn btn-success">Submit</button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="clearfix"></div>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Subcategory</th>
                                                            <th>Nama Category</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Handphone</td>
                                                            <td>Elektronik</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Kemeja</td>
                                                            <td>Fashion</td>
                                                            <td>
                                                                <a onclick="detailsclick()" class="btn btn-primary">Details/Edit</a>
                                                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="col-md-2 col-sm-4 col-xs-12"><input type="text" /></td>
                                                            <td class="col-md-2 col-sm-4 col-xs-12">
                                                                <!-- ganti dropdown pake razor -->
                                                                <select class="form-control">
                                                                    <option>Choose option</option>
                                                                    <option value="0">Category #1</option>
                                                                    <option value="1">Category #2</option>
                                                                </select>
                                                            </td>
                                                            <td class="col-md-4 col-sm-4 col-xs-12"><button type="submit" class="btn btn-success">Submit</button></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*tab5 content end*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>