
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using eCommerce.Web.Models.AdminProduct

@model IndexPageAdminProductViewModel

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs({
            activate: function (event, ui) {
            }
        });
        //$("#subtabs13").tabs();
    });
</script>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>General Elements</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Product</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><input type="text" class="form-control" placeholder="Search..." /></li>
                            <li>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="" role="tabpanel" id="tabs" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <!--tab1-->
                                <!--product list-->
                                <li role="presentation" class="active">
                                    <a href="#tabManageProduct" id="list-tab" role="tab" data-toggle="tab" aria-expanded="true">Product List</a>
                                </li>
                                <!--tab1 end-->
                                <!--tab2-->
                                <!--product details-->
                                <li role="presentation" class="">
                                    <a href="#tabProductDetails" role="tab" id="details-tab" data-toggle="tab" aria-expanded="false">Product Details</a>
                                </li>
                                <!--tab2 end-->
                                <!--tab3-->
                                <!--add product-->
                                <li role="presentation" class="">
                                    <a href="#tabProductStockPrice" role="tab" id="add-tab" data-toggle="tab" aria-expanded="false">Product Stock and Price</a>
                                </li>
                                <!--tab3 end-->
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <!--tab1 content-->
                                <!--product list-->
                                <div role="tabpanel" class="tab-pane fade active in" id="tabManageProduct" aria-labelledby="home-tab">
                                    @{Html.RenderPartial("ManageProduct", Model.listProduct);}
                                </div>
                                <!--tab1 content end-->
                                <!--tab2 content-->
                                <!--product details/edit-->
                                <div role="tabpanel" class="tab-pane fade" id="tabProductDetails" aria-labelledby="profile-tab">
                                    @{Html.RenderPartial("ProductDetails", Model.DetailsProduct);}
                                </div>
                                <!--tab2 content end-->
                                <!--tab3 content-->
                                <!--add product-->
                                <div role="tabpanel" class="tab-pane fade" id="tabProductStockPrice" aria-labelledby="profile-tab2">
                                    @{Html.RenderPartial("ProductStockAndPrice", Model.StockPriceProduct);}
                                </div>
                                <!--tab3 content end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/AdminProduct/AdminProduct.js"></script>