@using eCommerce.Core.CommerceClasses.The_Products.Products

@model List<Product>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Product List</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nama Product</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nama</td>
                            <td>@item.Category.Nama</td>
                            <td>@item.Brand.Nama</td>
                            <td>@*@item.ProductInstance.FirstOrDefault().Price*@</td>
                            <td>
                                @if(item.IsAvailable == true)
                                {
                                   <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            </td>
                            <td>
                                <a onclick="DetailsProductClick(@item.Id)" class="btn btn-primary">Details/Edit</a>
                                <a href="" class="btn btn-danger" type="reset">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="x_content">


</div>