@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model eCommerce.Web.Models.ProductViewModels.ProductViewModel
<script src="~/js/Product/Product.js"></script>
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Products Listing (4 Columns)</h1>
            </div>
        </div>
    </div>
</div>

<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="available">
                        <ul>
                            <li>
                                Sort
                                <select style="margin-left:10px;" id="dropdown-sort">
                                    <option value="0">All</option>
                                    <option value="1">Top Rating</option>
                                    <option value="2">Lowest Price</option>
                                    <option value="3">Highest Price</option>
                                </select>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="usr" style="margin-top:20px;margin-left:-20px;">Min Price:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" style="margin-top:7px;margin-left:-10px;height:50px;" class="form-control" id="txt-min-harga">
                            </div>
                            <div class="col-md-2">
                                <label for="usr" style="margin-top:20px;margin-left:-20px;">Max Price:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="number" style="margin-top:7px;margin-left:-5px;height:50px;" class="form-control" id="txt-max-harga">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                    <a class="btn btn-block btn-success" type="button" id="btn-search" style="background-color:darkblue;margin-top:27px;" href="#">Search</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="available">
                        <ul>
                            <li>
                                Brand
                                <select style="margin-left:10px;" id="dropdown-brand">
                                    @foreach (var item in Model.BrandList.Distinct())
                                    {
                                        <option value="@item.Id">@item.Nama</option>
                                    }
                                </select>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(j => j.CategoryId, new { @id = "hiddenCategoryIdBrandList" })
<div class="eshop-section section" >
    <div class="container">
        <div class="row" id="div-product-list">
           @{ Html.RenderPartial("ProductIndex", Model.ProductList);}
        </div>
    </div>
</div>
